<nav>
    <ul>
    <li><a href="{{ path('accueil') }}">{{ ux_icon('material-symbols:home-outline') }}</a></li>
    <li><a href="{{ path('films') }}">🎥 Films</a></li>
    <li><a href="{{ path('contact') }}">📬 Contact</a></li>
    </ul>
</nav>